@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400 600;
  font-display: optional;
  src: url(/fonts/inter.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Cal Sans';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(/fonts/cal-sans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@layer components {
  .input {
    @apply block py-1 border-gray-300 rounded shadow-sm focus:ring-primary-500 focus:border-primary-500;
  }

  .link {
    @apply cursor-pointer text-primary-600 hover:text-primary-500 dark:text-primary-400 dark:hover:text-primary-300;
  }

  a,
  button {
    @apply focus:outline-primary-500 focus-visible:ring-primary-500;
  }

  /* react-select */
  .react-select-container .react-select__control {
    @apply dark:bg-gray-900 border dark:border-gray-500 dark:hover:border-gray-500 py-2;
  }

  .react-select-container-header .react-select__control {
    @apply dark:bg-gray-900 h-8 min-h-[32px] py-0 pl-1 border-[0.5px] dark:border-gray-700 dark:hover:border-gray-400 leading-4 text-left text-sm;
  }

  .react-select-container .react-select__control--is-focused {
    @apply border-primary-500 hover:border-primary-500 dark:border-gray-400 dark:hover:border-gray-400 shadow-none;
  }

  .react-select-container .react-select__menu {
    @apply dark:bg-gray-900 border dark:border-gray-600;
  }

  .react-select-container .react-select__option {
    @apply text-gray-800 dark:text-gray-300 bg-white hover:bg-gray-200 dark:bg-gray-900 dark:hover:bg-gray-700 text-sm text-left py-1.5;
  }

  .react-select-container .react-select__indicators {
    @apply dark:text-gray-400 my-0 py-0;
  }

  .react-select-container .react-select__indicator-separator {
    @apply invisible mx-0;
  }

  .react-select-container .react-select__dropdown-indicator {
    @apply py-1;
  }

  .react-select-container .react-select__value-container {
    @apply py-0 border-0 pl-2 pr-0;
  }

  .react-select-container .react-select__input-container,
  .react-select-container .react-select__placeholder,
  .react-select-container .react-select__single-value {
    @apply dark:text-gray-300 my-0 py-0 leading-4;
  }
}

input[type='text']:focus,
input[type='radio']:focus {
  box-shadow: none;
}

.heading-border-white {
  -moz-text-fill-color: #171717;
  -webkit-text-fill-color: #171717;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-color: #f5f5f5;
  -webkit-text-stroke-color: #f5f5f5;
}

/* Autogrowing textarea wrapper */
.grow-wrap::after {
  content: attr(data-replicated-value) ' ';
  white-space: pre-wrap;
  visibility: hidden;
  grid-area: 1 / 1 / 2 / 2;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

/** Details disclosure editor element **/
.details-summary > button::before {
  @apply flex justify-center items-center w-6 h-6;
  content: '\25B6';
}

.details.is-open > .details-summary > button::before {
  @apply rotate-90;
}

.settings-modal-tooltip > .tooltiptext {
  right: 105%;
}

.settings-modal-tooltip:hover .tooltiptext {
  visibility: visible;
}

.prose td > p {
  margin-top: 0;
  margin-bottom: 0;
}

:root {
  --color-primary-500: #d946ef;
  --tw-bg-opacity: 1;
}

::selection {
  background-color: #d946ef;
  color: #f5f5f5;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media (pointer: fine) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-100 dark:bg-gray-700;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 dark:bg-gray-500;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400 dark:bg-gray-400;
  }
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(64 64 64 / var(--tw-bg-opacity));
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(115 115 115 / var(--tw-bg-opacity));
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(163 163 163 / var(--tw-bg-opacity));
}
