@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-5 py-3 font-medium text-white transition duration-200 ease-in-out rounded shadow bg-primary-500 hover:bg-opacity-85;
  }

  .input {
    @apply block py-1 border-gray-300 rounded shadow-sm focus:ring-primary-500 focus:border-primary-500;
  }

  .input-subdued {
    @apply block py-1 border-neutral-500 rounded focus:ring-gray-400 focus:border-gray-400 bg-inherit;
  }

  .link {
    @apply cursor-pointer text-primary-600 hover:text-primary-500 dark:text-primary-400 dark:hover:text-primary-300;
  }

  /* react-select */
  .react-select-container .react-select__control {
    @apply bg-background border border-neutral-500 hover:border-neutral-500 py-2;
  }

  .react-select-container .react-select__control--is-focused {
    @apply border-neutral-400 hover:border-neutral-400 shadow-none;
  }

  .react-select-container .react-select__menu {
    @apply bg-neutral-900 border-2 border-neutral-600;
  }

  .react-select-container .react-select__option {
    @apply text-neutral-200 bg-neutral-900 hover:bg-neutral-800;
  }

  .react-select-container .react-select__indicator-separator {
    @apply bg-neutral-400;
  }

  .react-select-container .react-select__input-container,
  .react-select-container .react-select__placeholder,
  .react-select-container .react-select__single-value {
    @apply text-neutral-200;
  }

  .react-select-container-header .react-select-header__control {
    @apply bg-gray-900 py-0 pl-1 border-[0.5px] border-gray-700 hover:border-gray-400 text-sm leading-4 min-w-[474px] text-left;
  }

  .react-select-container-header .react-select-header__control--is-focused {
    @apply border-neutral-400 hover:border-neutral-400 shadow-none;
  }

  .react-select-container-header .react-select-header__menu {
    @apply bg-neutral-900 border-2 border-neutral-600;
  }

  .react-select-container-header .react-select-header__indicators {
    @apply text-gray-400 my-0 py-0;
  }

  .react-select-container-header .react-select-header__option {
    @apply text-gray-400 bg-gray-900 hover:bg-neutral-800 text-sm text-left;
  }

  .react-select-container-header .react-select-header__indicator-separator {
    @apply invisible mx-0;
  }

  .react-select-container-header .react-select-header__dropdown-indicator {
    @apply py-1;
  }

  .react-select-container-header .react-select-header__value-container {
    @apply py-0 border-0 pl-2 pr-0;
  }

  .react-select-container-header .react-select-header__input-container,
  .react-select-container-header .react-select-header__placeholder,
  .react-select-container-header .react-select-header__single-value {
    @apply text-gray-400 my-0 py-0 leading-4;
  }
}

:root {
  /* This is used for the spinner and progress bar */
  --color-primary-500: #ec4899;
}

::selection {
  background-color: #ec4899;
}

@media (pointer: fine) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-gray-100 dark:bg-gray-700;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 dark:bg-gray-500;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400 dark:bg-gray-400;
  }
}

.hero-decoration {
  background: linear-gradient(-45deg, #ec4899, #ec4899, #8b5cf6, #8b5cf6);
  background-size: 300%;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 7s ease-in-out infinite;
  -moz-animation: animated_text 7s ease-in-out infinite;
  -webkit-animation: animated_text 7s ease-in-out infinite;
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

a:focus,
button:focus {
  outline: 1px solid white;
}

.publication a {
  color: #ec4899;
}

.publication a:hover {
  text-decoration-line: underline;
}
